
@import "bootstrap.css";
@import "bootstrap-responsive.css";
/**@import "docs.css";*/

body {
        padding-top: 50px; /* 60px to make the container go all the way to the bottom of the topbar */
        padding-left: 10px;
      }

#thumbnails {
	height: 600px;
}
#centerstage {
	height: 600px;  
}
#totalcanvas {
  width: 97.9%;
  height: 99%;
  border: 1px solid #ccc;
  background-color: #F5F5F5;
  margin:2px;
  padding-left: 10px;
  text-align: left;
  overflow: hidden;/* clip the content*/
}
#proptpanel {
	height: 600px;
}
#playbox {
  width:170px;height:40px;
}
#slides {
  width:170px;height:560px;
  overflow-y:auto;/* show scrollbar while children height is beyond div*/

}
#toolbar {
  width:170px;height:40px;
}
#properties {
  width:170px;height:80px;background-color:#999999;
}
#events {
  width:170px;height:80px;background-color:#666666;
}
#effects {
  width:170px;height:80px;background-color:#333333;
}

/********* multipile item class *****************/
.thumbitem {
  width:126px;height:100px;
  background-color:#F5F5F5;
  border: 1px solid #ccc;
  margin: 10px;
}
.selected {
  background-color: #C1E1FF;
}
/*******************main section style **********************************/
.show-grid {
  margin-top: 0px;
  margin-bottom: 20px;
}
.show-grid [class*="span"] {
  background-color: #eee;
  text-align: center;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  min-height: 40px;
  line-height: 40px;
}
.show-grid [class*="span"]:hover {
  background-color: #ddd;
}
.show-grid .show-grid {
  margin-top: 0;
  margin-bottom: 0;
}
.show-grid .show-grid [class*="span"] {
  margin-top: 5px;
}
.show-grid [class*="span"] [class*="span"] {
  background-color: #ccc;
}
.show-grid [class*="span"] [class*="span"] [class*="span"] {
  background-color: #999;
}
