<div id="alertModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="width:400px;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>提示</h3>
  </div>
  <div class="modal-body">
    <p><%= message %></p>
  </div>
  <div class="modal-footer">
    <button id="closeAlertBtn" class="btn" data-dismiss="modal" aria-hidden="true">确定</button>    
  </div>
</div>
